.an{
    background-color: bisque;
}
.header-text{
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
    color: rgb(7, 7, 7);
    background-image: url('sm.jpg');
    background-repeat: no-repeat;
  }
  .conent{
    text-align: center;
    vertical-align: middle;
  }